<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "LabelMaker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class='row'>
      <nav id='main_nav' class='columns large-12'>
        <%= link_to t('links.controllers.case_filters.index'),
                    label_maker_case_filters_path %> |
        <%= link_to t('links.controllers.labels.index'),
                    label_maker_labels_path %>
      </nav>
    </header>

    <section class='row'>
      <% flash.each do |type, msg| %>
        <div class='columns large-12'>
          <div data-alert class='alert-box <%= type %> radius'>
            <%= msg %>
            <a href='#' class='close'>&times;</a>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </section>
  </body>
</html>
